<div class="container">
  <div class="jumbotron">
    <h1>The Salty Sea Dog</h1>
  </div>
  <div class="card">
    <div class="card-title">
      <h1>On Tap for {{month}}/{{day}}/{{year}}</h1>
      <br>
      <h2>Happy Hour from 5pm - 9pm</h2>
    </div>
    <div class="card-body">
      <br>
      <ul>
        <li [class]="alcoholContentColor(currentKeg)"  *ngFor="let currentKeg of kegs">
          <h2>{{currentKeg.description}}</h2>
          ${{currentKeg.price}},
          Style: {{currentKeg.style}},
          Pints Left: {{currentKeg.pintsLeft}} ,
          Alcohol Content: 0.{{currentKeg.alcoholContent}}ABV
          <div *ngIf="currentKeg.salePrice > 0">
            Sale Price: ${{currentKeg.salePrice}}
          </div>
          <br>
          <button (click)="editKeg(currentKeg)">Edit!</button>
          <button (click)="sellPint(currentKeg)">Sell Pint</button>
          <button (click)="sellGrowler(currentKeg)">Sell 32oz Growler</button>
          <button (click)="sellBigGrowler(currentKeg)">Sell 64oz Growler</button>
          <input [(ngModel)]="percentage" type="number" name="sale">
          <button (click)="sale(currentKeg, percentage)">Put on Sale</button>
          <button (click)="resetSale(currentKeg)">End Sale</button></li>
      </ul>
    </div>
    <button (click)="happyHour()">Happy Hour</button>
    <button (click)="addNewKeg()">Add New Keg</button>
  </div>




  <div *ngIf="selectedKeg">
    <div class="card">
      <div class="card-title">
        <h2>Edit {{selectedKeg.description}}</h2>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label>Enter Keg Description:</label>
          <input class="form-control" [(ngModel)]="selectedKeg.description">
        </div>
        <div class="form-group">
          <label for="style">Select Style</label>
          <select class="form-control" name="style" [(ngModel)]="selectedKeg.style">
            <option value="IPA">IPA</option>
            <option value="APA">APA</option>
            <option value="Red Ale">Red Ale</option>
            <option value="Pilsner">Pilsner</option>
            <option value="Brown Ale">Brown Ale</option>
            <option value="Kolsch">Kolsch</option>
            <option value="Belgian">Belgian</option>
            <option value="Hefeweizen">IPA</option>
            <option value="Sour">Sour</option>
            <option value="Lager">Lager</option>
            <option value="Stout">Stout</option>
          </select>
        </div>
        <div class="form-group">
          <label>Enter Price</label>
          <input type="number" [(ngModel)]="selectedKeg.price">
        </div>
        <div class="form-group">
          <label for="alcoholContent">Alcohol Content</label>
        <input type="number" [(ngModel)]="alcoholContent">
        </div>
        <div class="form-group">
          <label>Keg Empty?</label>
          <input class="form-control" type="checkbox" [(ngModel)]="selectedKeg.empty" [value]="done">
        </div>
        <button (click)="finishedEditing()">Done</button>
      </div>
    </div>

  </div>

  <div *ngIf="addingKeg">
    <div class="card">
      <div class="card-title">
        <h2>Add a Keg</h2>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="description">Keg Description</label>
            <input class="form-control" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" type="text" name="description">
          </div>
          <div class="form-group">
            <label for="price">Pint Price</label>
            <input class="form-control" [(ngModel)]="price" [ngModelOptions]="{standalone: true}" type="number" name="price">
          </div>
          <div class="form-group">
            <label for="style">Select Style</label>
            <select class="form-control" name="style" [(ngModel)]="style">
              <option value="IPA">IPA</option>
              <option value="APA">APA</option>
              <option value="Red Ale">Red Ale</option>
              <option value="Pilsner">Pilsner</option>
              <option value="Brown Ale">Brown Ale</option>
              <option value="Kolsch">Kolsch</option>
              <option value="Belgian">Belgian</option>
              <option value="Hefeweizen">IPA</option>
              <option value="Sour">Sour</option>
              <option value="Lager">Lager</option>
              <option value="Stout">Stout</option>
            </select>
          </div>
          <div class="form-group">
            <label for="alcoholContent">Alcohol Content</label>
          <input [ngModelOptions]="{standalone: true}" type="number" [(ngModel)]="alcoholContent">
          </div>
          <button (click)="addKeg(description, alcoholContent, price, style)">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-title">
      <h2>Filter Kegs</h2>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="style">Select Style</label>
        <select class="form-control" name="style" [(ngModel)]="filterStyle">
          <option value="IPA">IPA</option>
          <option value="APA">APA</option>
          <option value="Red Ale">Red Ale</option>
          <option value="Pilsner">Pilsner</option>
          <option value="Brown Ale">Brown Ale</option>
          <option value="Kolsch">Kolsch</option>
          <option value="Belgian">Belgian</option>
          <option value="Hefeweizen">IPA</option>
          <option value="Sour">Sour</option>
          <option value="Lager">Lager</option>
          <option value="Stout">Stout</option>
        </select>
      </div>
      <button (click)="filterKegs(filterStyle)">Filter</button>
      <div *ngIf="kegFilter">
        <br>
        <ul>
          <li [class]="alcoholContentColor(keg)" *ngFor="let keg of filteredKegs">  <h2>{{keg.description}}</h2>
            ${{keg.price}},
            Style: {{keg.style}},
            Pints Left: {{keg.pintsLeft}} ,
            Alcohol Content: 0.{{keg.alcoholContent}}ABV</li>
        </ul>
      </div>
    </div>
  </div>



</div>
